@import 'katex/dist/katex.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.katex {
	display: block;
	text-align: center;
}
.annotated {
	background: rgba(0, 0, 255, 0.2);
	border-radius: 1px;
}
